In [6]:
print(dir(dict)[-11:])

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Set

    mutable
    collection of unique hashable (immutable) data types
    unorder

In [13]:
dir([1, 2, 3]) == dir(list)

True

In [16]:
s = { 1, 1, 1, 1,1 , 1, 1, 12, 21, 1,2, 1, 2,1, 2,1, 2, 12, 1,2 ,2, 1, 1,2, 1, 2}
print(s)

{1, 2, 12, 21}

In [14]:
s1 = { 1, 2, 3, 4, 5, 6, 7 }
s2 = { 5, 6, 7, 8, 9, 10, 11, 12 }

s3 = { 'A', 'B', 'C', 'D' }

s4 = { 'A', 'B', 'C', 'D', 'E', 'F'}

In [22]:
print(dir(set)[-17:])

['add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [24]:
s = s1.intersection(s2)
print(s)

{5, 6, 7}

In [25]:
s = s1.difference(s2)
print(s)

{1, 2, 3, 4}

In [26]:
s = s1.symmetric_difference(s2)
print(s)

{1, 2, 3, 4, 8, 9, 10, 11, 12}

In [27]:
s1 = { 1, 2, 3, 4, 5, 6, 7 }
s2 = { 5, 6, 7, 8, 9, 10, 11, 12 }

s3 = { 'A', 'B', 'C', 'D' }

s4 = { 'A', 'B', 'C', 'D', 'E', 'F'}

In [28]:
s = s1.union(s3)
print(s)

{1, 2, 3, 4, 5, 6, 7, 'D', 'C', 'B', 'A'}

In [29]:
b = s1.isdisjoint(s2)
print(b)

False

In [30]:
b = s1.isdisjoint(s3)
print(b)

True

In [31]:
b = s4.issuperset(s3)
print(b)

True

In [32]:
b = s3.issubset(s4)
print(b)

True

    s1.<TAB> - to see method list

In [33]:
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
print(s2)

{5, 6, 7, 8, 9, 10, 11, 12}

In [35]:
s = s1.intersection(s2) # immutable operation -> we will get a new object instead changing original
print(s)

{5, 6, 7}

In [36]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11, 12}

In [37]:
s1.intersection_update(s2) # muttable operation -> we will update s1 with operation result
print(s1)
print(s2)

{5, 6, 7}
{5, 6, 7, 8, 9, 10, 11, 12}

In [38]:
s1 = {1, 2, 3, 4, 5, 6, 7}

In [39]:
print(s1, s2, sep='\n')

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11, 12}

In [40]:
s1.difference_update(s2)

In [41]:
print(s1)

{1, 2, 3, 4}

In [42]:
s1 = {1, 2, 3, 4, 5, 6, 7}

In [43]:
print(s1, s2, sep='\n')

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11, 12}

In [44]:
s1.symmetric_difference_update(s2)

In [45]:
print(s1)

{1, 2, 3, 4, 8, 9, 10, 11, 12}

In [47]:
hindi = { 'sachin', 'rajat', 'kushal', 'nidhi' }
english = { 'kushal', 'rajat', 'simran', 'rahul', 'yadvendra', 'bahadur' }

In [49]:
common = hindi.intersection(english)
print(common)

{'rajat', 'kushal'}

In [50]:
only_hindi = hindi.difference(english)
print(only_hindi)

{'nidhi', 'sachin'}

In [51]:
only_hindi_only_english = hindi.symmetric_difference(english)
print(only_hindi_only_english)

{'yadvendra', 'nidhi', 'rahul', 'sachin', 'bahadur', 'simran'}

In [52]:
people = hindi.union(english)

In [53]:
print(people)

{'yadvendra', 'rahul', 'rajat', 'simran', 'nidhi', 'sachin', 'kushal', 'bahadur'}

In [55]:
s = { 1, 2, 3, 4, 5}

In [56]:
print(s)

{1, 2, 3, 4, 5}

In [57]:
s.add(6)

In [58]:
print(s)

{1, 2, 3, 4, 5, 6}

In [59]:
s.add(7)

In [60]:
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [61]:
s.update([8, 9, 10, 11, 12, 'A', 'B'])

In [62]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'B', 'A'}

In [63]:
s.remove('A')

In [64]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'B'}

In [65]:
s.remove(12)

In [66]:
s.remove('sachin')

KeyError: 'sachin'

In [67]:
s.discard(5)

In [204]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
s.discard('B')

In [70]:
s.discard('sachin')

In [72]:
print(dir(set)[-17:])

['add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [73]:
s1 = s.copy()

In [74]:
print(s1, id(s1))
print(s, id(s))

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11} 2269285762208
{1, 2, 3, 4, 6, 7, 8, 9, 10, 11} 2269292848960

In [75]:
s.clear()

In [76]:
print(s)

set()

In [77]:
d = {}
print(type(d))

<class 'dict'>

In [78]:
s = set()
print(s)

set()

In [79]:
int()

0

In [80]:
float()

0.0

In [81]:
complex()

0j

In [82]:
str()

''

In [83]:
list()

[]

In [84]:
tuple()

()

In [85]:
dict()

{}

In [86]:
set()

set()

In [87]:
frozenset()

frozenset()

In [88]:
bool()

False

In [89]:
s1

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11}

In [91]:
s1.pop() # unordered

2

In [92]:
item = s1.pop()
print(item)

3

# FrozenSet

    immutable set

In [93]:
i = int(5)
f = float(5)
c = complex(6.02)
s = str('hello')
l = list([1, 2, 3, 4, 5])
t = tuple(['hi', 'hello', 'bye'])
d = dict(name='sachin', age=24, country='India')
s = set([1, 2, 3, 4, 5])
fs = frozenset([1, 2, 3, 4, 5])
print(i, f, c, s, l, t, d, s, fs, sep='\n')

5
5.0
(6.02+0j)
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
('hi', 'hello', 'bye')
{'name': 'sachin', 'age': 24, 'country': 'India'}
{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})

In [95]:
s =  frozenset([1, 2, 3 ,4, 4, 5])

In [96]:
print(s)

frozenset({1, 2, 3, 4, 5})

In [99]:
print(dir(s)[-8:])

['copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

# None Type 


    None -> represents null / void / nothing

In [100]:
value = print("hello world") # print returns Nothing

hello world

In [205]:
print(value)

None

In [102]:
name = input()

sachin yadav

In [103]:
print(name)

sachin yadav

# Boolean


    True   -> yes
    
    False  -> no

    False => False, None, '', 0, 0.0, 0j, [], (), {}, set(), frozenset(), any empty object
    
    True  => Except False values everthing is True

In [105]:
print(bool(1))

True

In [106]:
print(bool(0))

False

In [107]:
print(bool(-10))

True

In [108]:
print(bool([]))

False

In [109]:
print(bool(['']))

True

### Built-in Data Structures 

    1. Numbers
        int, float, complex
    2. Strings
    3. List
    4. Tuple
    5. Dict
    6. Set
    7. Frozenset
    8. Boolean
    9. None

In [110]:
from functools import namedtuple

In [114]:
t = namedtuple('Person', ['name', 'age', 'country'])

In [115]:
t1 = t(name='sachin', age=24, country='India')

In [116]:
t1

Person(name='sachin', age=24, country='India')

In [117]:
t1[0]

'sachin'

In [118]:
t1[1]

24

In [120]:
t1[2]

'India'

In [121]:
t1.name

'sachin'

In [122]:
t1.age

24

In [123]:
t1.country

'India'

# chr


    ascii -> 0-9, a-z, A-Z, ~!@#$%^&*())_+

#### utf-8 encoding

        bytes -> encoding -> char
        
        65  -> utf-8  -> 'A' 
        
        97  -> utf-8  -> 'a'

In [124]:
s = "A"

In [126]:
c = chr(65)
print(c)

A

In [129]:
c = chr(2330)

In [130]:
print(c)

च

In [131]:
print(chr(65))

A

In [132]:
print(chr(90))

Z

    A-Z 65-90

In [133]:
print(chr(97))

a

In [141]:
print(chr(122))

z

    a-z 97-122

In [145]:
print(chr(48))

0

In [146]:
print(chr(57))

9

    0-9  48-97

# ord

In [206]:
ord('0')

48

In [144]:
ord('9')

57

In [149]:
ord('k')

107

##### Number System

In [150]:
s = 123

In [151]:
b = bin(s) # decimal to binary conversion
o = oct(s) # decimal to octal conversion 
h = hex(s) # decimal to hexadecimal

In [154]:
b

'0b1111011'

In [155]:
o

'0o173'

In [156]:
h

'0x7b'

In [153]:
print(f"Decimal = {s}, Binary = {b}, Octal = {o}, HexaDecimal = {h}")

Decimal = 123, Binary = 0b1111011, Octal = 0o173, HexaDecimal = 0x7b

In [158]:
b = '0b1011' # binary
h = '0xfff' # hexadecimal
o = '0o123' # octal

In [162]:
a = int('283', base=10) # Decimal String -> Decimal Number
print(a, type(a))

283 <class 'int'>

In [163]:
int('57')

57

In [165]:
int('ff', base=16) # hexadecimal -> decimal value

255

In [166]:
b = '0b1011' # binary
h = '0xfff' # hexadecimal
o = '0o123' # octal

In [167]:
print(int(b, 2))  # binary to Decimal Conversion
print(int(h, 16)) # hexadecimal to Decimal Conversion
print(int(o, 8))  # octal to Decimal Conversion

11
4095
83

# Type Casting

In [168]:
str(45)

'45'

In [169]:
str(6.03)

'6.03'

In [170]:
str([1, 2, 3, 4])

'[1, 2, 3, 4]'

In [171]:
str({1:2})

'{1: 2}'

In [172]:
x = input()
print(x, type(x))

123
123 <class 'str'>

In [173]:
int('238767')

238767

In [174]:
int('34.3')

ValueError: invalid literal for int() with base 10: '34.3'

In [175]:
int(6.02)

6

In [176]:
int(float('34.3'))

34

In [177]:
float("34.34")

34.34

In [178]:
float('ab')

ValueError: could not convert string to float: 'ab'

In [179]:
complex('45+6j')

(45+6j)

In [180]:
i = int(input())     # int(str)     -> int
f = float(input())   # float(str)   -> float
c = complex(input()) # complex(str) -> complex

print(i, type(i))
print(f, type(f))
print(c, type(c))

1
6.4
56j
1 <class 'int'>
6.4 <class 'float'>
56j <class 'complex'>

In [181]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [186]:
t = (1, 2, 3, 4, 5)
l = list(t)

# t = list(t)

In [187]:
print(t)

(1, 2, 3, 4, 5)

In [185]:
print(l)

[1, 2, 3, 4, 5]

In [188]:
info = { 'name': 'python', 'year': 1994, 'version': 3, 'father': 'guido van rossum'}

In [189]:
l1 = list(info) # keys
print(l1)

['name', 'year', 'version', 'father']

In [190]:
keys = list(info.keys())
values = list(info.values())
items = list(info.items())

In [191]:
print(keys)

['name', 'year', 'version', 'father']

In [192]:
print(values)

['python', 1994, 3, 'guido van rossum']

In [193]:
print(items)

[('name', 'python'), ('year', 1994), ('version', 3), ('father', 'guido van rossum')]

In [194]:
s = { 1, 2, 3, 4, 2, 3, 5, 6, 7, 8,9 ,4, }

In [195]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [196]:
list(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# list(iterable)

In [197]:
list(1234)

TypeError: 'int' object is not iterable

In [198]:
list('1234')

['1', '2', '3', '4']

In [199]:
tuple('1234')

('1', '2', '3', '4')

## Dict

In [200]:
lst = [
    ('name', 'java'),
    ('father', 'james goslin'),
    ('year', 1995)
]

In [201]:
print(lst)

[('name', 'java'), ('father', 'james goslin'), ('year', 1995)]

In [202]:
d = dict(lst)

In [203]:
print(d)

{'name': 'java', 'father': 'james goslin', 'year': 1995}

## Set / FrozenSet

In [207]:
set('hello world how are you')

{' ', 'a', 'd', 'e', 'h', 'l', 'o', 'r', 'u', 'w', 'y'}

In [210]:
lst = [ 1,2 , 1,2, 1, 2, 3, 4,5 ,6, 7, 8,9 ]

In [211]:
lst

[1, 2, 1, 2, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
s = set(lst)

In [213]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [214]:
l = list(s)

In [215]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [216]:
bool('hello')

True

In [217]:
bool(None)

False

In [218]:
bool(0)

False

In [219]:
bool(1)

True

#### Data Type ?

    Array is a special type of list where all elements are of similar type

`If a list is homogenous you can call it array`

# Operators 
# Algorithms, Pseudo Code, Flow Chart
# Conditional Statements if-else