#### Lambda

In [2]:
print() # "\n"  # end = '\n'

print(" ") # " \n"

In [4]:
print()

In [5]:
print(end="") # ""

In [6]:
print("", end="") #""

In [ ]:
print(" ", end="") # " "

`Shallow & Deep Copy`

In [8]:
import copy

In [10]:
lst = [[1,2,3], 4]
lst1 = copy.copy(lst)

In [13]:
print(lst, id(lst))

[[1, 2, 3], 4] 2467826047424

In [14]:
print(lst1, id(lst1))

[[1, 2, 3], 4] 2467826132608

In [15]:
data = [ 1, 2,3 ,4 , 5]

In [16]:
# d = data[:]

d = data.copy()

In [17]:
print(id(d))

2467825906112

In [18]:
print(id(data))

2467826080704

In [19]:
d[2] = 30

In [20]:
print(d)

[1, 2, 30, 4, 5]

In [21]:
print(data)

[1, 2, 3, 4, 5]

In [22]:
lst = [ [1, 2, 3], 4, 5]

In [28]:
lst1 = lst.copy() # shallow copy

In [24]:
print(lst, id(lst))
print(lst1, id(lst1))

[[1, 2, 3], 4, 5] 2467826197312
[[1, 2, 3], 4, 5] 2467826170368

In [25]:
lst1[0].append(10)

In [26]:
print(lst)

[[1, 2, 3, 10], 4, 5]

In [27]:
lst1

[[1, 2, 3, 10], 4, 5]

In [29]:
lst1

[[1, 2, 3, 10], 4, 5]

In [31]:
lst

[[1, 2, 3, 10], 4, 5]

In [33]:
for item1, item2 in zip(lst, lst1):
    print(type(item1), item1, id(item1), id(item2))

<class 'list'> [1, 2, 3, 10] 2467826197568 2467826197568
<class 'int'> 4 140719930488704 140719930488704
<class 'int'> 5 140719930488736 140719930488736

In [34]:
lst = [ 1, 2, [1, 2], 3]
lst1 = copy.copy(lst) # shallow copy

In [35]:
for i1, i2 in zip(lst, lst1):
    print(i1, id(i1), i2, id(i2))

1 140719930488608 1 140719930488608
2 140719930488640 2 140719930488640
[1, 2] 2467825881344 [1, 2] 2467825881344
3 140719930488672 3 140719930488672

In [36]:
lst = [ 1, 2, [1, 2], 3]
lst1 = copy.deepcopy(lst) # shallow copy

for i1, i2 in zip(lst, lst1):
    print(i1, id(i1), i2, id(i2))

1 140719930488608 1 140719930488608
2 140719930488640 2 140719930488640
[1, 2] 2467842555648 [1, 2] 2467842450944
3 140719930488672 3 140719930488672

In [37]:
lst1[2].append(3)

In [38]:
print(lst1)

[1, 2, [1, 2, 3], 3]

In [39]:
lst

[1, 2, [1, 2], 3]

## `lambda`

        Anonymous Function, Inline Function

    a function can be decleared in one line using `lambda` keyword

Syntax: 

    func_name = lambda arg1, arg2, ..., argn : return_value or statement

In [40]:
def hello():
    print("hello world!")

In [43]:
x = hello()
print(x)

hello world!
None

In [44]:
hi = lambda : print("Hello World!")

In [46]:
print(hello)

<function hello at 0x0000023E96BF2DC0>

In [47]:
h = hello

In [48]:
h()

hello world!

In [49]:
print(h)

<function hello at 0x0000023E96BF2DC0>

In [50]:
hi = lambda : print("Hello World!")

In [51]:
print(hi)

<function <lambda> at 0x0000023E96D81790>

In [52]:
hi()

Hello World!

In [54]:
def even_odd(num):
    if num % 2 == 0:
        return 'Even'
    else:
        return 'Odd'

In [56]:
r = even_odd(int(input()))
print(r)

23
Odd

In [59]:
eve = lambda num: 'Even' if num % 2 == 0 else 'Odd'

In [61]:
r = eve(int(input()))
print(r)

10
Even

In [62]:
def square(a, b):
    if a > b:
        return a**2 - b**2
    else:
        return b**2 - a**2

In [65]:
sq = lambda a, b: a**2 - b**2 if a > b else b**2 - a**2

In [66]:
sq(5, 4)

9

In [67]:
square(5, 4)

9

In [68]:
sq(3, 6)

27

In [64]:
square(3, 6)

27

In [69]:
def greatest(a, b, c):
    if a > b and a > c:
        return a
    elif b > c:
        return b
    else:
        return c

In [70]:
g = lambda a, b, c: a if a > b and a > c else b if b > c else c

In [71]:
g(1, 2, 4)

4

In [72]:
g(40, 50, 20)

50

In [73]:
data = [
    ['ram',   50, 60, 70],
    ['shyam', 50, 70, 45],
    ['hari',  45, 67, 87],
    ['mohan', 56, 45, 87]
]

In [75]:
data.sort(key = lambda v: v[2], reverse=True )

In [76]:
data

[['shyam', 50, 70, 45],
 ['hari', 45, 67, 87],
 ['ram', 50, 60, 70],
 ['mohan', 56, 45, 87]]

In [80]:
data.sort(key = lambda v: sum(v[1:]), reverse = True )

In [81]:
data

[['hari', 45, 67, 87],
 ['mohan', 56, 45, 87],
 ['ram', 50, 60, 70],
 ['shyam', 50, 70, 45]]

## Map

    it is used to apply a function on each value of iterable type and stores results in an iterator object

In [83]:
data = [ 1, 2, 3, 4, 5, 6]

In [85]:
n = [ ]
for item in data:
    r = item**2
    n.append(r)
n

[1, 4, 9, 16, 25, 36]

In [86]:
n = [ item**2 for item in data]
n

[1, 4, 9, 16, 25, 36]

In [87]:
data

[1, 2, 3, 4, 5, 6]

### Syntax


    iterable = map( function, iterable, ... )

In [88]:
data

[1, 2, 3, 4, 5, 6]

In [89]:
n = list ( map ( lambda x: x**2, data ) )
print(n)

[1, 4, 9, 16, 25, 36]

In [90]:
arr = list( map( int, input().split() ))
print(arr)

4 5 6 7 8
[4, 5, 6, 7, 8]

`Iterable`

    string,
    list,
    tuple,
    dictionary,
    set,
    frozenset

In [94]:
import random

In [95]:
l1 = [ random.randint(1, 10) for _ in range(5) ]
l2 = [ random.randint(1, 10) for _ in range(5) ]

In [96]:
l1

[2, 8, 7, 4, 7]

In [97]:
l2

[5, 5, 9, 7, 4]

In [98]:
r = list( map( lambda x1, x2: x1 + x2, l1, l2  ))

In [100]:
print(l1)
print(l2)
print(r)

[2, 8, 7, 4, 7]
[5, 5, 9, 7, 4]
[7, 13, 16, 11, 11]

#### Filter 

    we use filter function to filter usefull information from a sequence / iterable using a function
    
    
Syntax: 

    iterable = filter( function, iterable1, iterable2, ...)
    
    function should only return True or False
    
    filter functions stores values for which function returns True

In [111]:
data = [ random.randint(1, 30) for i in range(10)]
print(data)

[3, 11, 9, 20, 14, 5, 14, 9, 13, 22]

In [113]:
r = list( filter( lambda v: v % 2 == 0, data )  )
print(r)

[20, 14, 14, 22]

In [112]:
r = []
for item in data:
    if item % 2 == 0:
        r.append(item)
print(r)

[20, 14, 14, 22]

In [114]:
nums = [ random.randint(1, 10000) for _ in range(5000) ]

In [116]:
prime = lambda num, check=2: False \
if num <= 1 else False if num % check == 0 \
else True if num <= 3 else True if check > \
(num**(1/2)) else prime(num, check+1)

In [125]:
primes = list(filter( prime, nums))

In [126]:
print(len(primes))

596

In [129]:
primes[:5]

[1451, 9661, 1523, 859, 5851]

    Transformation   - lambda, map

    Aggregation      - filter, reduce

### Reduce 
    
    aggregation 
    
    
    
    value = reduce( function, iterable )

In [130]:
from functools import reduce

In [133]:
ans = reduce(lambda x, y: x + y, [1, 2, 3 ,4, 5])

In [134]:
print(ans)

15

In [136]:
ans = reduce( lambda x, y: x+y, [1, 2, 3, 4, 5],  10)
print(ans)

25

In [138]:
r = reduce(lambda x, y: x+y**2, [1, 2, 3, 4, 5])
print(r)

55

In [139]:
r = reduce(lambda x, y: x*y, [1, 2, 3, 4 ], 5)
print(r)

120

In [ ]:
file handling