#### For Loop

    To iterate compound Data Types / Iterables

### String

In [1]:
s = "Hello World!"
#    012345......(n-1) where n is total no of characters
# 0-11

In [3]:
nchars = len(s)
print(nchars)

12

### Iteratioin / Traversing

    accessing each and every element from a sequence / iterable

In [4]:
s = "Hello World!"
i = 0 # 0 to 11
while i < len(s):
    print(s[i])
    i += 1
else:
    print("This is traversing of a string")

H
e
l
l
o

W
o
r
l
d
!
This is traversing of a string

# `for` Loop

syntax

    for item in iterable:
        body
        of
        loop

In [5]:
s = "Hello World!"
for char in s:
    print(char)
else:
    print("Same Code with For")

H
e
l
l
o

W
o
r
l
d
!
Same Code with For

In [6]:
names = [ 'sachin', 'rajat', 'nidhi', 'kushal', 'simran', 'tanvi',
        'yamini', 'rashmi', 'vijay', 'sam']

In [7]:
print(len(names))

10

In [9]:
i = 0
while i < len(names):
    print(names[i].upper())
    i += 1
else:
    print("List Traversed")

SACHIN
RAJAT
NIDHI
KUSHAL
SIMRAN
TANVI
YAMINI
RASHMI
VIJAY
SAM
List Traversed

In [10]:
names = [ 'sachin', 'rajat', 'nidhi', 'kushal', 'simran', 'tanvi',
        'yamini', 'rashmi', 'vijay', 'sam']
for name in names:
    print(name)
else:
    print("Same with For")

sachin
rajat
nidhi
kushal
simran
tanvi
yamini
rashmi
vijay
sam
Same with For

#### Tuple Unpacking

In [12]:
seq = ( 'sachin', ('hindi', 'english'), 25 )

In [13]:
name = seq[0]
fl = seq[1][0]
sl = seq[1][1]
age = seq[2]
print(name, fl, sl, age, sep='\n')

sachin
hindi
english
25

In [14]:
name, (fl, sl), age  = ( 'sachin', ('hindi', 'english'), 25 )
print(name, fl, sl, age, sep='\n')

sachin
hindi
english
25

#### Tuple Unpacking using `*`

In [19]:
print("Hello")

Hello

In [21]:
print(*"Hello")
print("H", "e", "l", "l", "o")

H e l l o
H e l l o

In [22]:
print([1, 2, 3, 4])

[1, 2, 3, 4]

In [24]:
print(*[1, 2, 3, 4])
print(1, 2, 3, 4)

1 2 3 4
1 2 3 4

inner = [ 'name', 'runs', 'balls' ]

In [16]:
data = [
    ['rohit',   50, 20],
    ['dhawan',  60, 40],
    ['kohli',   40, 25],
    ['shreysh', 50, 20]
]

In [26]:
s = """
-------------------------------
Name        : {}
Runs        : {}
Balls       : {}
Strike Rate : {:.2f}
-------------------------------
"""
for item in data:
    # item = ['rohit', 50, 20]
    sr = (item[1] / item[2])*100
    print(s.format(*item, sr))
else:
    print('output please ?')

-------------------------------
Name        : rohit
Runs        : 50
Balls       : 20
Strike Rate : 250.00
-------------------------------


-------------------------------
Name        : dhawan
Runs        : 60
Balls       : 40
Strike Rate : 150.00
-------------------------------


-------------------------------
Name        : kohli
Runs        : 40
Balls       : 25
Strike Rate : 160.00
-------------------------------


-------------------------------
Name        : shreysh
Runs        : 50
Balls       : 20
Strike Rate : 250.00
-------------------------------

output please ?

In [17]:
for item in data:
    print(item)
else:
    print('output please ?')

['rohit', 50, 20]
['dhawan', 60, 40]
['kohli', 40, 25]
['shreysh', 50, 20]
output please ?

In [28]:
name, runs, balls = ['rohit',   50, 20]
print(name, runs, balls)

rohit 50 20

In [27]:
data = [
    ['rohit',   50, 20],
    ['dhawan',  60, 40],
    ['kohli',   40, 25],
    ['shreysh', 50, 20]
]

In [29]:
for name, runs, balls in data:
    s = f"""
    -------------------------------
    Name        : {name}
    Runs        : {runs}
    Balls       : {balls}
    Strike Rate : {(runs/balls)*100:.2f}
    -------------------------------
    """
    print(s)

    -------------------------------
    Name        : rohit
    Runs        : 50
    Balls       : 20
    Strike Rate : 250.00
    -------------------------------


    -------------------------------
    Name        : dhawan
    Runs        : 60
    Balls       : 40
    Strike Rate : 150.00
    -------------------------------


    -------------------------------
    Name        : kohli
    Runs        : 40
    Balls       : 25
    Strike Rate : 160.00
    -------------------------------


    -------------------------------
    Name        : shreysh
    Runs        : 50
    Balls       : 20
    Strike Rate : 250.00
    -------------------------------

In [30]:
l = ['sachin', 25, 'India']

In [34]:
print(['sachin', 25, 'India'])

['sachin', 25, 'India']

In [32]:
print(*['sachin', 25, 'India'])

sachin 25 India

In [35]:
print('sachin', 25, 'India')

sachin 25 India

In [36]:
s = """
name    = {}
age     = {}
country = {}
"""

In [38]:
# s1 = s.format('sachin', 25, 'India')
s1 = s.format(*['sachin', 25, 'India'])
print(s1) # ?

name    = sachin
age     = 25
country = India

In [39]:
data = [
    ['apple', 5, 60000],
    ['one plus', 10, 35000],
]

In [40]:
for ph, q, p in data:
    print(f"{ph} - {q}x{p}={q*p}")

apple - 5x60000=300000
one plus - 10x35000=350000

In [41]:
data = {
    'name': 'Python',
    'father': 'Guido Van Rossum',
    'year': 1994,
    'versions': ['1.X', '2.X', '3.X']
}

In [42]:
print(*data)

name father year versions

In [43]:
for key in data:
    print(key)

name
father
year
versions

In [44]:
for key in data:
    print(key, '=', data[key])

name = Python
father = Guido Van Rossum
year = 1994
versions = ['1.X', '2.X', '3.X']

In [45]:
for key in data.keys():
    print(key)

name
father
year
versions

In [46]:
for value in data.values():
    print(value)

Python
Guido Van Rossum
1994
['1.X', '2.X', '3.X']

In [47]:
for item in data.items():
    print(item)

('name', 'Python')
('father', 'Guido Van Rossum')
('year', 1994)
('versions', ['1.X', '2.X', '3.X'])

In [48]:
for key, value in data.items():
    print(f"{key:>30} = {value}")

                          name = Python
                        father = Guido Van Rossum
                          year = 1994
                      versions = ['1.X', '2.X', '3.X']

In [52]:
for item in {1, 2, 3, 1, 2, 3, 4}:
    print(item)

1
2
3
4

# linear search

In [54]:
print(names)

['sachin', 'rajat', 'nidhi', 'kushal', 'simran', 'tanvi', 'yamini', 'rashmi', 'vijay', 'sam']

In [55]:
'sachin' in names

True

In [56]:
'kushi' in names

False

In [59]:
key = input("What to search: ")

if key in names:
    print(f"{key} found at location {names.index(key)}")
else:
    print(f"{key} not found")

What to search: sakshi
sakshi not found

In [78]:
names = ['sachin', 'tanvi', 'rajat', 'nidhi', 'kushal', 'simran', 'tanvi', 'yamini', 'rashmi', 'vijay', 'tanvi',
         'sam']

In [80]:
key = input("what to search: ").strip().lower()

i = 0
while i < len(names):
    if names[i] == key:
        print(f"{key} found at location {i}")
        break
    i += 1
else:
    print(f"{key} not found")

what to search: tanvi
tanvi found at location 1

In [81]:
key = input("what to search: ").strip().lower()
i = 0
for name in names:
    if name == key:
        print(f"{key} found at index {i}")
        break
    i += 1
else:
    print(f"{key} not found")

what to search: tanvi
tanvi found at index 1

In [82]:
key = input("what to search: ").strip().lower()
i = 0
flag = False
for name in names:
    if name == key:
        flag = True
        print(f"{key} found at index {i}")
    i += 1
    
if not flag:
    print(f"{key} not found")
i

what to search: tanvi
tanvi found at index 1
tanvi found at index 6
tanvi found at index 10

12

#### Special Iterable Objects

    enumerate, zip, range
    
    these are generator functions sorted reversed

In [83]:
obj = enumerate('sachin') # Lazy

In [84]:
print(obj)

<enumerate object at 0x000002B6E5202500>

In [85]:
print(next(obj))

(0, 's')

In [86]:
print(next(obj))

(1, 'a')

In [87]:
while True:
    print(next(obj))

(2, 'c')
(3, 'h')
(4, 'i')
(5, 'n')

StopIteration:

In [88]:
print(enumerate('sachin'))

<enumerate object at 0x000002B6E516FE40>

In [89]:
print(*enumerate('sachin'), sep='\n')

(0, 's')
(1, 'a')
(2, 'c')
(3, 'h')
(4, 'i')
(5, 'n')

In [90]:
s = "hello World!"
for i, char in enumerate(s):
    print(f"{i:>2} -> {char}")

 0 -> h
 1 -> e
 2 -> l
 3 -> l
 4 -> o
 5 ->
 6 -> W
 7 -> o
 8 -> r
 9 -> l
10 -> d
11 -> !

In [91]:
names

['sachin',
 'tanvi',
 'rajat',
 'nidhi',
 'kushal',
 'simran',
 'tanvi',
 'yamini',
 'rashmi',
 'vijay',
 'tanvi',
 'sam']

In [94]:
for c, name in enumerate(names):
    print(f"{c+1:>2}. {name.upper()}")

 1. SACHIN
 2. TANVI
 3. RAJAT
 4. NIDHI
 5. KUSHAL
 6. SIMRAN
 7. TANVI
 8. YAMINI
 9. RASHMI
10. VIJAY
11. TANVI
12. SAM

## ZIP

In [95]:
name = [ 'sachin', 'rajat', 'nidhi', 'simran']
age  = [   25,       35,      30,       23   ]

In [100]:
print(*zip(name, age), sep='\n')

('sachin', 25)
('rajat', 35)
('nidhi', 30)
('simran', 23)

In [104]:
for n, a in zip(name, age):
    print(f"Name = {n:<10} |\t Age = {a}")

Name = sachin     |	 Age = 25
Name = rajat      |	 Age = 35
Name = nidhi      |	 Age = 30
Name = simran     |	 Age = 23

In [98]:
i = 0
while i < len(name):
    print(f"Name: {name[i]} Age: {age[i]}")
    print('-'*30)
    i += 1

Name: sachin Age: 25
------------------------------
Name: rajat Age: 35
------------------------------
Name: nidhi Age: 30
------------------------------
Name: simran Age: 23
------------------------------

In [105]:
s1 = [ 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
s2 = [ 'ek',  'dou',  'teen', 'chaar', 'paanch', 'cha', 'saat', 'aath', ]
s3 = [ 1, 2, 3, 4, 5, 6, 7, 8 ]

In [112]:
#print(*zip(s1, s2, s3), sep='\n')

for en, hi, n in zip(s1, s2, s3):
    print('_'*70)
    print(f"|{en:^20} | {hi:^20} | {n:^20}|")

______________________________________________________________________
|        one          |          ek          |          1          |
______________________________________________________________________
|        two          |         dou          |          2          |
______________________________________________________________________
|       three         |         teen         |          3          |
______________________________________________________________________
|        four         |        chaar         |          4          |
______________________________________________________________________
|        five         |        paanch        |          5          |
______________________________________________________________________
|        six          |         cha          |          6          |
______________________________________________________________________
|       seven         |         saat         |          7          |
______________________________________________________________________
|       eight         |         aath         |          8          |

# Range

In [113]:
print(range(5))

range(0, 5)

In [114]:
print(*range(5))

0 1 2 3 4

In [115]:
print(*range(1, 11))

1 2 3 4 5 6 7 8 9 10

In [116]:
print(*range(0, -10, -1))

0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [117]:
num = int(input("Enter a number: ")) # 5
print(*range(num, num*11, num), sep='\n')

Enter a number: 5
5
10
15
20
25
30
35
40
45
50

In [118]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [119]:
for j in range(10, 0, -1):
    print(j)

10
9
8
7
6
5
4
3
2
1

In [121]:
for i in range(1, 11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

##### questions based on loops

##### pattern printing

In [128]:
import random

[13, 17, 39, 1, 50, 45, 14, 22, 21, 15]

In [134]:
minimum = 9999999999999

lst = [ random.randint(1, 50) for var in range(10) ]
print(lst)
for value in lst:
    if value < minimum:
        minimum = value
else:
    print(minimum)

[28, 43, 14, 14, 21, 41, 20, 39, 37, 35]
14

In [125]:
lst = [ 'java', 'c', 'c++', 'ruby', 'perl', 'go']
state = False
key = input("Key: ")

for item in lst:
    if item == key:
        state = True

if state == True:
    print("Found")
else:
    print("Not Found")

Key: ruby
Found