#### any doubt ?

In [1]:
d = {}

In [2]:
value = d.setdefault('name', 'sachin')

In [3]:
print(value)

sachin

In [4]:
d

{'name': 'sachin'}

In [5]:
value = d.setdefault('name', 'dashrath')
print(value)

sachin

In [6]:
print(d)

{'name': 'sachin'}

In [7]:
s1 = { 1, 2, 3, 4, 5, 6, 7}
s2 = { 5, 6, 7, 8, 9, 10, 11}

In [8]:
s3 = s1.intersection(s2)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11}
{5, 6, 7}

In [9]:
s1.intersection_update(s2)

In [10]:
print(s2)

{5, 6, 7, 8, 9, 10, 11}

In [11]:
print(s1)

{5, 6, 7}

# Algorithm

    language independent well organised finite step by step solution to a problem

#### Even Odd Algo 

    1. Start
    2. Take a number input and store it into num variable
    3. Check Whether num is divisible by 2 or not
        if num is divisible by 2 than print EVEN
        else print ODD on Screen
    4. Stop

# Pseudo Code

    general code representation of an Algorithm
    
    language independent Scratch / Raw Code 
    
    variables, data types, if-else, loop, functions, recursion, OOPS, Exception Handling, File Handling

In [12]:
13 % 3

1

Pseudo Code for EVEN ODD

    num = INT INPUT
    IF num % 2 == 0
    THAN
        PRINT EVEN
    ELSE
        PRINT ODD
    ENDIF

# Flow Charts 

    Graphical Representation of Pseudo Code or Algorithm

![flow chart](flow.jpg)

![even](even.jpg)

    operator -> +, -, *, %, $, _

    operands -> 5, 10, 'hello'

# Operators 

    use process data in a specific manner 
    
   
#### Unary Operators 
    
    1 Operend and 1 Operator - ~5, +5, -7, not True
    
#### Binary Operators 

    2 Operends and 1 Operator -  5 + 6, 'hello' + 'world'
    
#### Ternary Operator

    more than 2 Operends and more than 1 operator - 4 > 5 ? 0 : 1, True if 4 > 5 else False
    
## Operators in Python

    1. Airthmatic Operators   -    +, -, *, /, %, //, **
    2. Comparision Operators  -    >, <, >=, <=, ==, !=
    3. Logical Operators      -    and, or, not
    4. BitWise Operators      -    ~, &, |, ^, <<, >>
    5. Membership Operators   -    in, not in
    6. Identity Operators     -    is, is not
    7. Assignment Operators   -    =, +=, -=, *=, /=, %=, //=, **=

In [15]:
(5).__pow__(2)

25

### 1. Airthmatic Operators   -    

    +                    addition                   __add__
    -                    substraction               __sub__
    *                    multiplication             __mul__
    /                    true division              __truediv__
    %                    modulas                    __mod__
    //                   floor division             __floordiv__                 integer division
    **                   exponent                   __pow__                      power

In [16]:
4 + 5

9

In [17]:
6 * 7

42

In [18]:
10 - 50

-40

In [20]:
a = 22
b = 7

r = a / b
print(r) # 3.14 true div

r = a // b
print(r) # floor division

3.142857142857143
3

In [21]:
27 % 6

3

In [22]:
7 % 13

7

In [23]:
2 ** 3

8

In [24]:
2 ** 8

256

In [25]:
2 ** 16

65536

In [26]:
2 ** 15

32768

a ** b = $ a ^ b $

In [27]:
'hello ' + 'world' # concatenation

'hello world'

In [28]:
[1, 2, 3, 4] + [ 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [29]:
'hello ' * 5

'hello hello hello hello hello '

In [30]:
[ 1, 2, 3, 4, 5 ] * 5 # replication

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [31]:
s1 = { 1, 2, 3,4, 5, 6,}
s2 = { 3, 4,5 ,6 ,7 ,8 }

In [33]:
s1 - s2 # difference

{1, 2}

## 2. Comparision Operators  -    

    >                               greater than                          __gt__
    <                               less than                             __lt__
    >=                              greter than OR equal                  __ge__
    <=                              less than OR equal                    __le__
    ==                              equals                                __eq__
    !=                              not equals                            __ne__

In [34]:
5 > 6

False

In [35]:
6 < 6

False

In [36]:
5 != 6

True

In [37]:
6 == 5

False

In [38]:
9 >= 8

True

In [39]:
3 <= 3

True

## 3. Logical Operators      -    

    and                       AND (&&) operation if BOTH Operends are True -> True else False
    
    or                        OR  (||) operation if BOTH Operends are False -> False else True
    
    not                       NOT  (!)  if Operend is True -> False else True

In [40]:
True and True

True

In [41]:
False and True

False

In [42]:
True and False

False

In [43]:
False and False

False

In [46]:
value = True and print("Hello")

print(value, bool(value))

Hello
None False

In [47]:
value = False and print("Hello")

print(value, bool(value))

False False

In [48]:
0 and print('hi')

0

In [49]:
1 and print('hi')

hi

In [50]:
True or True

True

In [51]:
True or False

True

In [52]:
False or True

True

In [53]:
False or False

False

In [54]:
value = 0 or print("hello")


print(value)

hello
None

In [55]:
4 > 5 or 5 < 6

True

In [56]:
not True

False

In [57]:
not False

True

In [58]:
not 0

True

In [59]:
not 1

False

In [60]:
not ''

True

In [61]:
not ' '

False

In [68]:
13 | 7

15

In [69]:
(13).__or__(7)

15

In [70]:
(5).__xor__(4)

1

In [ ]:
(5).__lshift__

4. BitWise Operators      -    

        ~                 Bitwise Negation                  __neg__
        &                 Bitwise AND                       __and__
        |                 Bitwise OR                        __or__
        ^                 Bitwise XOR                       __xor__
        <<                Bitwise Left Shift                __lshift__
        >>                Right Shift                       __rshift__

    ~   add 1 to your number and revert sign

In [71]:
~10

-11

In [73]:
~-13

12

In [74]:
a = 13

In [75]:
b = 7

In [76]:
print(bin(a))

0b1101

In [77]:
print(bin(b))

0b111

In [78]:
a & b

5

In [79]:
a | b

15

In [80]:
a ^ b

10

In [81]:
13 << 3

104

In [82]:
13 >> 2

3

# 5. Membership Operators   -    

    in, not in

    whether a sub-sequence is part of a sequence or not

In [83]:
lst = [ 'sachin', 'nidhi', 'rajat', 'kushal']

In [84]:
name = 'simran'

In [85]:
name in lst

False

In [86]:
name = 'sachin'

In [87]:
name in lst

True

In [88]:
name = 'simran'

In [89]:
name not in lst

True

In [90]:
d = { 'name': 'sachin', 'age': 24, 'language': 'hindi'}

In [91]:
'name' in d

True

In [92]:
'name' in d.values()

False

In [95]:
d = {}

In [96]:
if 'name' not in d:
    d['name'] = 'rajat'

In [97]:
print(d)

{'name': 'rajat'}

In [98]:
'hello' in 'hello world!'

True

# 6. Identity Operators     -    

        is, is not


        checks if two objects have same id or not, it means it will return true if one object is having two reference else False

In [100]:
s2 = 'sachin'
s1 = 'sachin'

In [101]:
print(id(s1), id(s2))

3080162168432 3080162168432

In [102]:
print(id(s1) == id(s2))

True

In [103]:
print(s1 is s2)

True

In [104]:
x = 1024
y = 1024

In [105]:
x == y

True

In [106]:
id(x) == id(y)

False

In [107]:
x is y

False

In [108]:
x is not y

True

# 7. Assignment Operators   -    

    =, +=, -=, *=, /=, %=, //=, **=

In [110]:
x = 5

In [111]:
print(x)

5

In [114]:
x = 20 


x += 10 # x = x + 10

print(x)

30

#### Operater Precedence in Python

In [115]:
10 * 5 / 10 ** 2 + 10 - 9

1.5

### IF-Else and Loop